.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: right !important;
}

.message__userCard {
  background-color: #0b81ff !important;
}

.message__guestCard {
  text-align: left;
  background-color: #e9e9eb !important;
}

.message__tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.message:hover > .message__tooltip {
  visibility: visible;
}
